{% include base_path %}

<section id="education">
  <h2>Education</h2>
  <div class="tg">
    <div class="row">
      <div class="column date">
        <p>Jan 2020 - Oct 2022</p>
      </div>
      <div class="column text-work">
        <p><span style="font-weight:bold">University of Modena and Reggio Emilia, Italy</span></p>
        <p>M.Sc. in Computer Engineering</p>
        <p><span style="font-style:italic">Cyber Systems Curricula with focus on Artificial Intelligence and Machine
            Learning</span></p>
      </div>
    </div>
    <div class="row">
      <div class="column date">
        <p>Sep 2016 - Dec 2019</p>
      </div>
      <div class="column text-work">
        <p><span style="font-weight:bold">University of Modena and Reggio Emilia, Italy</span></p>
        <p>B.Sc. in Computer Engineering</p>
      </div>
    </div>
  </div>
</section>