{% include base_path %}

<section id="research_experience">
  <h2>Work Experience</h2>
  <style type="text/css">
    .tg {
      border: none;
      border-collapse: collapse;
      border-spacing: 0;
    }

    .tg td {
      border-style: solid;
      border-width: 0px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 5px 5px;
      word-break: normal;
    }

    .tg th {
      border-style: solid;
      border-width: 0px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      overflow: hidden;
      padding: 5px 5px;
      word-break: normal;
    }

    .tg .tg-m916l {
      border-color: #000000;
      font-size: 16px;
      padding-right: 30px;
      text-align: left;
      vertical-align: top
    }

    .tg .tg-m916r {
      border-color: #000000;
      font-size: 16px;
      text-align: left;
      vertical-align: top
    }
  </style>
  <table class="tg">
    <tbody>
      <tr>
        <td class="tg-m916l">Nov 2022 - Present</td>
        <td class="tg-m916r"><span style="font-weight:bold">University of Modena and Reggio Emilia</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r"><span style="font-style:italic">AImageLab Research Group, Prof. Simone Calderara</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r">Research Fellowship: 2D/3D Object Detection, Multiple Object and People Tracking</td>
      </tr>
      <tr>
        <td class="tg-m916l">Jan 2023 - Jan 2024 </td>
        <td class="tg-m916r"><span style="font-weight:bold">Istituto Zooprofilattico Sperimentale dell’Abruzzo e del Molise ”G. Caporale”</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r"><span style="font-style:italic">Research Fellowship Collaboration</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r"></td>
      </tr>
      <tr>
        <td class="tg-m916l">Mar 2022 - Nov 2022 </td>
        <td class="tg-m916r"><span style="font-weight:bold">University of Modena and Reggio Emilia</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r"><span style="font-style:italic">AImageLab Research Group, Prof. Simone Calderara</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r">Student Internship and Master Thesis: <span style="font-style:italic">Weakly Supervised
            Strategies for Multiple People Tracking</span> </td>
      </tr>
      <tr>
        <td class="tg-m916l">Jan 2020 - Jan 2021 </td>
        <td class="tg-m916r"><span style="font-weight:bold">QUIX S.R.L.</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r"><span style="font-style:italic">R&D Group</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r">Junior Software Developer</td>
      </tr>
      <tr>
        <td class="tg-m916l">Sep 2016 - Dec 2023 </td>
        <td class="tg-m916r"><span style="font-weight:bold">Osteria Ca' Rossa</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r"><span style="font-style:italic">Functioned as the Head Waiter in a local tavern during weekends.</span></td>
      </tr>
      <tr>
        <td class="tg-m916l"></td>
        <td class="tg-m916r"></td>
      </tr>
    </tbody>
  </table>
</section>