{% include base_path %}

<section id="research_experience">
  <h2>Work Experience</h2>
  <style type="text/css">
    .tg {
      border: none;
      border-collapse: collapse;
      border-spacing: 0;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #f2f3f3;
      margin: 15px 0px;
    }

    .date {
      float: left;
      width: 30%;
      padding-bottom: 15px;
    }

    .text-work {
      float: left;
      width: 70%;
    }

    .logo {
      height: 70px;
      width: auto;
    }

    @media only screen and (max-width: 600px) {
      .date {
        width: 50%;
        padding: 10px 10px !important;
      }

      .text-work {
        width: 50%;
        padding: 10px 10px !important;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
      }
    }
  </style>
  <div class="tg">
    <div class="row">
      <div class="column date">
        <p>Nov 2022 - Present</p>
        <div>
          <img class="logo" src="../images/thumbnails/aimagelab.png" alt="AImageLab">
        </div>
      </div>
      <div class="column text-work">
        <p><span style="font-weight:bold">University of Modena and Reggio Emilia</span></p>
        <p><span style="font-style:italic">AImageLab Research Group, Prof. Simone Calderara</span></p>
        <p>Research Fellowship: 2D/3D Object Detection, Multiple Object and People Tracking</p>
      </div>
    </div>
    <div class="row">
      <div class="column date">
        <p>Jan 2023 - Jan 2024</p>
        <div>
          <img class="logo" src="../images/thumbnails/izs.png" alt="IZS">
        </div>
      </div>
      <div class="column text-work">
        <p><span style="font-weight:bold">Istituto Zooprofilattico Sperimentale dell’Abruzzo e del Molise ”G.
            Caporale”</span></p>
        <p><span style="font-style:italic">Research Fellowship Collaboration</span></p>
      </div>
    </div>
    <div class="row">
      <div class="column date">
        <p>Mar 2022 - Nov 2022</p>
        <div>
          <img class="logo" src="../images/thumbnails/aimagelab.png" alt="AImageLab">
        </div>
      </div>
      <div class="column text-work">
        <p><span style="font-weight:bold">University of Modena and Reggio Emilia</span></p>
        <p><span style="font-style:italic">AImageLab Research Group, Prof. Simone Calderara</span></p>
        <p>Student Internship and Master Thesis: <span style="font-style:italic">Weakly Supervised Strategies for
            Multiple People Tracking</span></p>
      </div>
    </div>
    <div class="row">
      <div class="column date">
        <p>Jan 2020 - Jan 2021</p>
        <div>
          <img class="logo" src="../images/thumbnails/quix.png" alt="QUIX">
        </div>
      </div>
      <div class="column text-work">
        <p><span style="font-weight:bold">QUIX S.R.L.</span></p>
        <p><span style="font-style:italic">R&D Group</span></p>
        <p>Junior Software Developer</p>
      </div>
    </div>
    <div class="row">
      <div class="column date">
        <p>Sep 2016 - Dec 2023</p>
        <div>
          <img class="logo" src="../images/thumbnails/carossa.png" alt="Ca'Rossa">
        </div>
      </div>
      <div class="column text-work">
        <p><span style="font-weight:bold">Osteria Ca' Rossa</span></p>
        <p><span style="font-style:italic">Functioned as the Head Waiter in a local tavern during weekends.</span></p>
      </div>
    </div>
  </div>
</section>