{% include base_path %}


<!-- DistFormer -->
<tr>
<td rowspan="5" class="center" style="width: 400px;"><img src="images/thumbnails/distformer.png" alt="distformer" style="width:400px; height:auto;"></td>
<td class="bold">DistFormer: Enhancing Local and Global Features for Monocular Per‑Object
  Distance Estimation</td>
</tr>
<tr>
<td class="italic">Aniello Panariello, Gianluca Mancusi, <u>Fedy Haj Ali</u>, Angelo Porrello, Simone Calderara, Rita Cucchiara</td>
</tr>
<tr>
<td class="thin">ArXiv Preprint, 2024</td>
</tr>
<tr>
<td style="text-align: justify">
  DistFormer, a revolutionary architecture for per-object distance estimation in safety-critical fields like surveillance or autonomous driving, outperforms existing methods with a robust context encoder, self-supervised encoder-decoder, and global refinement module. Extensive evaluations on KITTI, NuScenes, and MOTSynth datasets demonstrate its superior performance, resilience to challenges, and remarkable generalization, especially excelling in zero-shot synth-to-real transfer scenarios.</td>
</tr>
<tr>
<td>
  <a href="https://arxiv.org/abs/2401.03191">[arXiv]</a>
  <!-- <a href="">[2024 Paper]</a> -->
  <!-- <a href="">[Code]</a> -->
  
</td>
</tr>

<!-- Empty row for spacing -->
<tr>
  <td style="height: 30px; padding: 0;" colspan="2"></td>
</tr>