{% include base_path %}

<div class="row">
  <div class="column image">
    <div class="center">
      <img src="images/thumbnails/distformer.png" alt="distformer">
    </div>
  </div>

  <div class="column text">
    <div class="bold pub-title">DistFormer: Enhancing Local and Global Features for Monocular Per‑Object
      Distance Estimation</div>
    <div class="italic">Aniello Panariello, Gianluca Mancusi, <u>Fedy Haj Ali</u>, Angelo Porrello, Simone Calderara,
      Rita
      Cucchiara</div>
    <div class="thin">ArXiv Preprint, 2024</div>
    <div style="text-align: justify">
      DistFormer, a revolutionary architecture for per-object distance estimation in safety-critical fields like
      surveillance or autonomous driving, outperforms existing methods with a robust context encoder, self-supervised
      encoder-decoder, and global refinement module. Extensive evaluations on KITTI, NuScenes, and MOTSynth datasets
      demonstrate its superior performance, resilience to challenges, and remarkable generalization, especially
      excelling
      in zero-shot synth-to-real transfer scenarios.</div>
    <div>
      <a href="https://arxiv.org/abs/2401.03191">[arXiv]</a>
      <!-- <a href="">[2024 Paper]</a> -->
      <!-- <a href="">[Code]</a> -->
    </div>
  </div>
</div>