{% include base_path %}

<div class="row">
  <div class="column image">
    <div class="center">
      <img src="images/thumbnails/trackflow.png" alt="trackflow">
    </div>
  </div>

  <div class="column text">
    <div class="bold pub-title">TrackFlow: Multi-Object Tracking with Normalizing Flows</div>
    <div class="italic">Gianluca Mancusi, Aniello Panariello, Angelo Porrello, Matteo Fabbri, Simone Calderara, Rita
      Cucchiara</div>
    <div class="thin">International Conference on Computer Vision (ICCV), 2023</div>
    <div style="text-align: justify">
      We propose a novel approach to multi-object tracking that leverages Normalizing Flows to learn a joint probability
      distribution over the costs of candidate associations. Our experiments show that our approach consistently
      enhances the performance of several tracking-by-detection algorithms.</div>
    <div>
      <a href="https://arxiv.org/abs/2308.11513">[arXiv]</a>
      <a
        href="https://openaccess.thecvf.com/content/ICCV2023/papers/Mancusi_TrackFlow_Multi-Object_tracking_with_Normalizing_Flows_ICCV_2023_paper.pdf">[ICCV
        2023 Paper]</a>
      <!-- <a href="">[Code]</a> -->
    </div>
  </div>

</div>