{% include base_path %}


<div class="row">
  <div class="column image">
    <div class="center">
      <img src="images/thumbnails/security-system.png" alt="security">
    </div>
  </div>

  <div class="column text">
    <div class="bold pub-title">Security System Prototype</div>
    <div class="italic">Fedy Haj Ali</div>
    <!-- <div class="thin"></div> -->
    <div style="text-align: justify">
      The Security System project is a prototype for an alarm and security system that
      simulates the functionality of an anti-theft alarm by utilizing various hardware components. The project involves
      simulating the opening and closing of windows in an imaginary house using buttons and LEDs. Additionally, an
      ultrasonic distance sensor, specifically the HC SR04, is employed to detect any ‘suspicious’ movements within the
      simulated house. Upon detection, an acoustic signal is triggered to emit the alarm sound. To provide users with
      relevant information, an LCD display is incorporated to showcase messages and notifications. The system offers a
      user-friendly interface through a mobile application facilitated by MQTT (Message Queuing Telemetry Transport).
      This
      enables users to manage all functionalities connected with the security system, ensuring seamless communication
      between the hardware components and the mobile application, enhancing the overall efficiency and user experience
      of
      the prototype.</div>
    <div>
      <a href="https://github.com/fedyhajali/security-system">[Code]</a>
    </div>
  </div>
</div>