{% include base_path %}

<div class="row">
  <div class="column image">
    <div class="center">
      <img src="images/thumbnails/ticket.png" alt="ticket">
    </div>
  </div>

  <div class="column text">
    <div class="bold pub-title">Academic Ticketing System</div>
    <div class="italic">Fedy Haj Ali - 09/2021</div>
    <!-- <div class="thin"></div> -->
    <div style="text-align: justify">
      Introducing our Academic Ticketing System, a user-friendly web app designed for
      efficient communication within academic institutions. Users can create tickets by selecting groups, topics, and
      receivers, with the flexibility to make changes throughout the resolution process. After resolution, tickets can
      be
      marked as validated or set to expire, ensuring timely response. The dedicated ticket section promotes seamless
      collaboration. Built with Django, Angular, Docker, redis, and PostgreSQL, our system offers a scalable, secure,
      and
      responsive solution for revolutionizing academic issue resolution.</div>
    <div>
      <a href="https://github.com/fedyhajali/ticketing-system">[Code]</a>
    </div>
  </div>
</div>