{% include base_path %}


<!-- Tickets System -->
<tr>
  <td rowspan="5" class="center" style="width: 400px;"><img src="images/thumbnails/ticket.png" alt="tickets"
      style="width:400px; height:auto;"></td>
  <td class="bold">Academic Ticketing System</td>
</tr>
<tr>
  <td class="italic">Fedy Haj Ali</td>
</tr>
<tr>
</tr>
<tr>
  <td style="text-align: justify">Introducing our Academic Ticketing System, a user-friendly web app designed for
    efficient communication within academic institutions. Users can create tickets by selecting groups, topics, and
    receivers, with the flexibility to make changes throughout the resolution process. After resolution, tickets can be
    marked as validated or set to expire, ensuring timely response. The dedicated ticket section promotes seamless
    collaboration. Built with Django, Angular, Docker, redis, and PostgreSQL, our system offers a scalable, secure, and
    responsive solution for revolutionizing academic issue resolution.</td>
</tr>
<tr>
  <td>
    <a href="https://github.com/fedyhajali/ticketing-system">[Code]</a>

  </td>
</tr>

<!-- Empty row for spacing -->
<tr>
  <td style="height: 15px; padding: 0;" colspan="2"></td>
</tr>