{% include base_path %}

<section id="about">
  <h2>About Me</h2>
  <p style="text-align: justify;">
    I am Fedy Haj Ali, a Research Fellow at the <a href="https://aimagelab.ing.unimore.it/">AImageLab</a> research
    group of the University of Modena and Reggio Emilia, under the supervision of
    <a href="https://personale.unimore.it/rubrica/dettaglio/calderara">Prof. Simone Calderara</a>.
    My current focal point revolves around the intersection of Computer Vision and Deep Learning, specializing in
    the realms of <u>2D/3D object Detection and
    multiple object and people Tracking</u>. In addition to my core focus, I am actively involved in a
    collaborative project with the <a href="https://www.izs.it/IZS/">Italian Institute IZS of Abruzzo and Molise</a>
    related to AI application for identifying distress in animals during breeding and pre-slaughter phases.
    <br>
    <br>
    For any questions or curiosity, feel free to <a href="mailto:fedyhajali@gmail.com">reach out to me</a>.
  </p>
</section>