{% include base_path %}

<section id="news">
    <h2>News</h2>
    <ul>
        <li>
            <span style="font-weight:bold">[2023/09]</span>
            I participated in the <a href="https://www.ellis.unimore.it/summer-school/">ELLIS Summer School on
                Large-Scale AI for Research and Industry</a> in Modena, Italy.
        <li>
            <span style="font-weight:bold">[2023/07]</span>
            The paper <a
                href="https://iris.unimore.it/retrieve/handle/11380/1321706/604744/Mancusi_TrackFlow_Multi-Object_tracking_with_Normalizing_Flows_ICCV_2023_paper.pdf">TrackFlow:
                Multi-Object tracking with Normalizing Flows</a> from our
            research group has been accepted at <a href="https://iccv2023.thecvf.com/"> ICCV 2023</a>.
            While I wasn't listed as an author, I'm proud to have been
            actively involved in this project for over four months, and I am grateful for the opportunity to have been
            part of such an
            innovative and impactful research effort.
        <li>
            <span style="font-weight:bold">[2023/02]</span> I started my collaboration with the <a
                href="https://www.izs.it/IZS/">Italian Institute IZS of Abruzzo and Molise</a>.
        <li>
            <span style="font-weight:bold">[2022/11]</span> I joined the <a
                href="https://aimagelab.ing.unimore.it/">AImageLab</a> group at <a
                href="https://www.unimore.it">UNIMORE</a> in Italy as a Research Fellow.
        </li>
    </ul>
</section>